# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/cache
/artifacts

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.secret
.polygonScanApi
.moonscanApi
.secretAlchemy
.alchemyUrl
.avaxUrl
etherscan.json
moralisNodes.json
bwareLabsNodes.json
.github
package-lock.json
.eslintcache
hardhat.config.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# gfx
# /src/sprites-copy/*


