
@media (min-width: 320px) {
    .order-dropdown {
      margin-top: 12px;
      margin-left: 8px;
    }
    .order-dropdown button {
      font-size: 1.25em;
    }
    .col-for-mylokimons {
      display: flex;
      justify-content: center;
      margin-top: 12px;
      align-items: end;
    }
    .display-style-btn {
      margin-right: 0.5em;
    }
  }