@media (min-width: 280px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  }
  
  @media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .mylokimons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .add-for-sale-input { margin-top: 6px;}
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
  }