.p1-dojo {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 45%;
  margin-right: auto;
  width: 100%;
  color: #00c853;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 1.75em;
}
.col-text-center {
  text-align: center;
}

@media (min-width: 320px) {
  .p1-dojo {
    margin-left: 40%;
  }
  .fighting-area {
    display: flex;
    flex-direction: column;
  }
  .vs-container {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 24px;
  }
  .dojo-selection {
    display: flex;
    overflow-x: scroll;
    border: 1px inset darkgray;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .vs-container {
    width: 50%;
  }
  .p1-dojo {
    margin-left: 45%;
  }
  .fighting-area {
    width: 48%;
    margin-left: 26%;
    margin-right: auto;
  }
  .dojo-spar-mons-img {
    padding-left: 7px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .p1-dojo {
    margin-left: 48%;
  }
  .vs-container {
    width: 21%;
    margin-left: 40%;
    margin-right: auto;
  }
  .fighting-area {
    width: 21%;
    margin-left: 40%;
    margin-right: auto;
  }
  .dojo-results-table {
    width: 98%;
    margin-left: 5px;
  }
  .dojo-spar-mons-img {
    padding-left: 9px;
  }
}
