/* html {
  overflow-y: scroll;
}
*/

.rpgui-content a {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.App {
  text-align: center;
}

.AppTitle{
  /* text-align: center; */
  color: #6c757d;
  /* background-color: #e6f2ff; */
  width:100%;
  padding-left: 12px;
  padding-top: 2px;
  /* font-size: calc(10px + 6vmin); */
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
} 

.p1{
  padding-top: 0.2em;
  text-align: center;
  /* #007bff */
  color: #6c757d; 
  /* font-size: calc(10px + 3vmin); */
  width:100%;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.p2{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
  color: #6c757d;    /* #007bff */
  font-size: calc(10px + 2vmin);
  width:100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mon{
  display: block;
  float: left;
  padding: 0;
  margin: 2%;
}

.monName {
  font-weight: bold;
  text-shadow: 2px 2px #ffffff;
}

.my-figure{
  border: 2px outset;
  margin: 0;
  padding: 3%;  background-color: #ffe6b3;
  background-color: #ffe6b3;
  background-image: url(./sprites/background/9.png);
  width: 15em;		
  background-size: 280px 200px;
}

.monBox {
  border: 2px inset;
  background-color: #ffe;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.monImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  /* this defines image height */
  height: 8em;	
  /* this defines image height	 */
  margin-top:2em;	
  /* this defines image height */
  margin-bottom:2em;	
}

.monBackgroundImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stat-area {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.stat-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-line {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  width: 100%;
}

.form-input {
  float: right;
  display: block;
}

.stat-label, .form-label {
  display: inline;
}

.add-for-sale-label, .remove-from-sale-label, .sale-owner, .sale-price, .shareTo-owner, .shared-owner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13.9em;	
  word-wrap: break-word;

}

.add-for-sale-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.selling-div, .buying-div, .breed-choice-div, .fight-choice-div, .sharing-div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border: 2px outset;
}

.fightWith-area, .fightAgainst-area{
  display: inline-block;
  width: 50%;
  border-right: 2px outset;
  border-left: 2px outset;
  border-top: 2px outset;
  height: 100%;
}

.fight-mons-area{
  height: 100%;
}

.breeding-area, .fighting-area, .sharing-area{
  display: block;
  width: 32.7em;
  margin-left: auto;
  margin-right: auto;
}

.add-for-sale-btn, .remove-from-sale-btn, .sale-btn, .br-Choice-btn, .fight-Choice-btn, .breed-btn, .fight-btn, .stop-sharing-btn, .share-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*
button {
  background-color: #4CAF50; 
  border: 2px outset;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
} */

.rpgui-content {
  overflow: auto !important;
}

.rpgui-content label, .rpgui-content li {
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 0.65em;
}

.nav-link.active {
  color: #7e8a96 !important
}

.nav-link:hover {
  color: #f3a718 !important
}

.winner-label {
  margin-left: 12px
}

.nav {
  width: 100%
}


.rpgui-content label {
  line-height: 12px;
  display: inline;
}

/* container for mon stats */
/* .mon {
  margin: 12px;
} */

/* container for mon selling in My Creatures tab */
/* .selling-div {
  display: flex;
} */

