.inventory-item-count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 12px;
}

.token-input-btn {
  height: 40px;
}

@media (min-width: 320px) {
  .p1-token {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
    color: #00c853;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 1.75em;
    margin-left: 16%;
    margin-right: auto;
  }

  .nft-item {
    display: flex;
    align-items: center;
    width: 95%;
  }

  .nft-item div {
    margin-right: 12px;
    margin-left: 12px;
  }

  .nft-item-count {
    overflow-x: auto;
    margin-left: 8px;
  }

  .buy-item-input-container {
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: 12px;
  }

  .give-to-skellies-input-btn {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .with-buy-item-input { width: 40%;}
}

@media only screen and (min-width: 768px) {
  .inventory-item-count p {
    max-width: 85%;
    overflow-x: auto;
  }

  .p1-token { margin-left: 35% }
  .titles-token { font-size:  1.12em; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
